html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";

}

li {
  list-style: none;
  float: left;
  padding-top:25px;
  padding-bottom:33px;
  padding-left:20px;
  padding-right:20px;
  color:#fff;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
header{
	position: fixed;
	z-index: 10;
	top: 0;
	 background-color:black;
  height:90px;
  width:100%;
}
.logo{

  padding-top:30px;
  padding-bottom:20px;
  padding-left:90px;
  padding-right:40px;
  float:left;
  font-size: 35px;
  color: white;
   font-family: "Niagara solid";
}

li:hover{
	color: #EE9E1E;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  border-radius: 20px;

}

.button2:hover {
  background-color: #e5ea10e6;
  color: white;
  border-radius: 20px;

}
.right{
	float: right;
	margin-right: 90px
}
.right img{
	margin-top: 25px
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  margin-top: 30px;
}

.btn:hover {
  opacity: 1;
}
.message{
  background-color:#fcca03;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  cursor:pointer;
  box-shadow: 0px 7px #fce872;
}
.message:active{
  box-shadow:none;
  position: relative;
  top: 7px;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
.bar{
	display: none;
	float: right;
	padding-top: 20px;
	padding-right: 30px;
}

footer{
	background-color:black;
	font-family: "poppins";
	height:200px;
	width:100%;
	margin-top:10px;
	position:absolute;
	bottom:0;
}
.logo-bawah{
	position:relative;
}
.container-kiri p{
	color:white;
	font-size:16px;
}
.container-kiri{
	margin: 50px 20px;
	padding: 50px 20px;
	text-align:center;
	width:30%;
	float:left;
}
.container-kanan{
	margin: 10px 20px;
	padding: 10px 20px;
	text-align:center;
	width:30%;
	float:right;

}
.follow{
	color:white;
	font-size:30px;
	}

.IG{
	display:inline-block;
	margin: 5px 5px;
	padding: 5px 5px;
	background-color:none;
	transition: all 0.3s; 
}
.TW{
	display:inline-block;
	margin: 5px 5px;
	margin: 5px 5px;
	background-color:none;
	transition: all 0.3s;

}
.IG a{
	color:white;
	text-decoration:none;
}
.TW a{
	color:white;
	text-decoration:none;
}

.IG:hover {
	background-color:grey;
}
.TW:hover {
	background-color:grey;
}

}
